@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%; /* Lighter grey for background */
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 80 25% 48%; /* Olive Green */
    --primary-foreground: 20 80% 98%;
    
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 10% 3.9%;
    
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    
    --accent: 38 94% 56%; /* Orange */
    --accent-foreground: 240 10% 3.9%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5% 85%;
    --input: 240 5% 92%;
    --ring: 80 25% 48%;
    --radius: 1.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 80 25% 52%;
    --primary-foreground: 20 80% 98%;
    
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4% 16%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: 38 94% 60%;
    --accent-foreground: 240 10% 3.9%;
    
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 80 25% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
